@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    letter-spacing: -0.031rem;
}
.main-section{
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 0.5rem;
}

.thumbnail-container{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
}

.picture-container{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.background-image{
    position: relative;
    width: 33%;
    height: auto;
    background-color: blue;
    padding: 9rem;
    background-image: url(./task\ 5\ picture.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.time-container{
    
    background-color: brown;
    width: fit-content;
    height: auto;
}
.time{
    position: absolute;
  bottom: 1rem;     /* Offset from the bottom */
  right: 1rem;      /* Offset from the right */
  background-color: rgba(25, 25, 25, 0.805);
  color: white;
  padding: 0.4rem;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.031rem;
  border-radius: 0.5rem;
}

.description-container{
    width: 33%;
    height: auto;
    padding: 0.5rem 0.1rem 0.5rem 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.1rem;
}

.video-title{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 1rem;
}

.profile-image{
    width: fit-content;
    height: auto;
}

.profile{
    width: 3rem;
    height: auto;
    border-radius: 5rem;
}

profile-title{
    width: fit-content;
    height: auto;
}

.profile-title h3{
    font-size: 1rem;
    color: black;
    
}

.dots{
    width: fit-content;
    height: auto;
    padding-right: 0.5rem;
    font-size: 1.5rem;
}

.fa-solid fa-ellipsis-vertical{
    width: fit-content;
    height: auto;
    font-size: 1rem;
}

.video-source{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.1rem;
    padding-left: 4rem;
}

.video-name{
    width: 100%;
    height: auto;
}

.video-name p{
    font-weight: 400;
    height: auto;
    font-size: 1rem;
    color: rgb(101, 101, 101);
}

.video-stats{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.5rem;
}

.views{
    width: fit-content;
    height: auto;
}

.views p{
    font-size: 1rem;
    color: rgb(101, 101, 101);
    font-weight: 400;

}

.icon{
    width: fit-content;
    height: auto;
    font-size: 0.3rem;
    color: rgb(101, 101, 101);
}

.days{
    width: fit-content;
    height: auto;
}

.days p{
    font-size: 1rem;
    color: rgb(101, 101, 101);
    font-weight: 400;
}