@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.031rem;
}

.main-container{
    width: 34%;
    height: auto;
    background-color: #f8f8f8;
    margin: 4rem auto;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    justify-content: start;
    align-items: start;
}

.top-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.85rem;
    justify-content: start;
    align-items: start;
}

.premium-amount-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.premium-container h1{
    width: fit-content;
    height: auto;
}

.premium-container{
    font-size: 1.2rem;
    font-weight: 800;
    color: black;
}

.amount-container{
    width: fit-content;
    height: auto;
}

.amount-container p{
    color: #5f5f5f;
    font-size: 0.9rem;
}

.lorem-container{
    width: 100%;
    height: auto;
}

.lorem-container p{
    color: #414141;
    font-size: 0.95rem;
}
    
.button-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    justify-content: start;
    align-items: start;
}

.subscribe-container{
    width: 100%;
    height: auto;

}

.subscribe-container button{
    width: auto;
}
