@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    letter-spacing: -0.031rem;
}

.screen{
    width: 100%;
    height: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container{
    width: 98%;
    height: auto;
    padding: 3rem;
    background-color: #111827;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-container{
    width: fit;
    height: auto;
    background-color: #111827;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.pricing{
    width: fit-content;
    height: auto; 
}

.pricing h4{
    color: #6E8CEC;
    font-weight: 500;
    text-align: center;
}


.detail-1{
    width: 100%;
    height: auto;
}

.detail-1 h1{
    font-size: 4rem;
    text-align: center;
    color: #FFFFFF
}

.detail-2{
    width: 55%;
    height: auto;
}

.detail-2 p{
    color: #E5E8ED;
    text-align: center;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2rem;
}


.monthly-container{
    width: fit-content;
    height: auto;
    margin: 3rem;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 5rem;
    background-color: #313236;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.monthly{
    width: fit-content;
    height: auto;
    background-color: #6366F1;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10rem;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}

.annually{
    width: fit-content;
    height: auto;
    padding-right: 0.8rem;
    background-color: #313236;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}

.card-container{
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    column-gap: 2rem;
}

.card-1{
    width: 34%;
    height: auto;
    border: solid #494C59;
    border-radius: 2rem;
    padding: 4rem 3rem 5.2rem 4rem;
}

.freelancer-heading{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 2rem;
}

.freelancer-heading p{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
}

.freelancer-subtext{
    width: fit-content;
    height: auto;
}

.freelancer-subtext p{
    color: #E5E8ED;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.price{
    width: fit-content;
    vertical-align: baseline;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    column-gap: 0.2rem;
}

.price p{
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 500;
}

.month{
    width: fit-content;
    height: auto;
}

.month p{
    color: #E5E8ED;
    font-size: 1rem;
}

.main{
    width: fit-content;
    height: auto;
    background-color: #363841;
    border: none;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 0.8rem 8.7rem 0.8rem 8.7rem;
    color: #FFFFFF;
    border-radius: 0.6rem;
    font-weight: 600;
    cursor: pointer;
}


.pricing-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 2rem;
    list-style-type: none;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 1rem;
    color: #F2F4F7;
    font-weight: 500;
}

.card-2{
    width: 34%;
    height: auto;
    border: solid #6366F1;
    border-radius: 2rem;
    padding: 4rem 4rem 2.5rem 4rem;
    background-color: #282d34;
}

.highlight{
    background-color: #6366F1;
    border: none;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 0.8rem 8.5rem 0.8rem 8.5rem;
    color: #FFFFFF;
    border-radius: 0.6rem;
    font-weight: 600;
    cursor: pointer;
}

.startup-heading{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
}

.startup-main-heading{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 9rem;
}

.startup-main-heading p{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
}

.most-popular{
    width: fit-content;
    height: auto;
    background-color: #6366F1;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    border-radius: 3rem;

}

.most-popular p{
    font-size: 0.9rem;
    font-weight: 500;
    color: #E5E8ED;
}

.startup-subtext{
    width: fit-content;
    height: auto;
}

.startup-subtext p{
    color: #E5E8ED;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.8rem;
}